.banner {
  padding: 150px 0;

  background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('../../images/background.jpg');

  background-size: cover;
  background-position: center;
}

.banner h1 {
  color: #D65C99 !important;
}

.banner h2 {
  color: white;
  font-size: 30px;
  opacity: 0.8;
}
.banner .container {
  text-align: center;
}